::-webkit-scrollbar-track {
    background-color: #272727;
}
::-webkit-scrollbar {
    width: 5px;
    background: #000000;
}
::-webkit-scrollbar-thumb {
    background: #000000;
}

body {
    background-color:#272727;
}

.card{
    background-color:aliceblue;
}
.tabulas{
    align-items:flex-end;
}
.tabuleiro{
    pointer-events: none;
}

.card-img{
    max-width: 90%;
    max-height: 90%;
}

.player{
    height:50px;
    width:50px;
    border:1px solid aliceblue;
    border-radius: 50%;
    opacity: 0.9;
    cursor: pointer;
}


.y{
    background:yellow;
}
.r{
    background:red;
}
.g{
    background:greenyellow;
}
.b{
    background:blueviolet;
}

h5{
    font-weight: bold;
}